@import './reset.css';
@font-face {
  font-family: 'Bariol';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/bariol_bold-webfont.woff2'), url('../fonts/bariol_bold-webfont.woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/bariol_bold_italic-webfont.woff2') format('woff2'), url('../fonts/bariol_bold_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/bariol_light-webfont.woff2') format('woff2'), url('../fonts/bariol_light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/bariol_light_italic-webfont.woff2') format('woff2'), url('../fonts/bariol_light_italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/bariol_regular-webfont.woff2') format('woff2'), url('../fonts/bariol_regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bariol';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/bariol_regular_italic-webfont.woff2') format('woff2'), url('../fonts/bariol_regular_italic-webfont.woff') format('woff');
}

$font-stack: 'Bariol',
Helvetica,
sans-serif;
$black: #4D4D4D;
$gray: #939393;
$light-gray: #EFEFEF;
$white: #AAAAAA;
$logo-blue: #8FACFD;
$logo-yellow: #FFF097;
$logo-red: #FF8B8B;
$br-small: 640px;
$br-medium: 900px;
$br-large: 1500px;
body {
  font: 16px/1.6 $font-stack;
  @media (min-width: $br-small) {
    font-size: 1.25rem;
  }
  @media (min-width: $br-large) {
    font-size: 1.5em;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $black;
}

h1 {
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1.02;
  @media (min-width: $br-small) {
    font-size: 2.5em;
  }
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
}

h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
}

h5 {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: $logo-blue;
  box-shadow: inset 0 -9px 0 0 lighten($logo-blue, 18%);
  transition: color 0.5s ease, box-shadow 0.3s ease;
  &:hover {
    color: lighten($logo-blue, 8%);
    box-shadow: inset 0 0 0 0 lighten($logo-blue, 30%);
  }
  &:active {
    color: darken($logo-blue, 10%);
  }
}

.nav-link {
  color: $black;
  box-shadow: none;
  font-weight: bold;
  text-transform: lowercase;
  &:hover {
    color: lighten($black, 14%);
    box-shadow: none;
  }
}

p {
  color: $gray;
}

main {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  @media (max-width: $br-small) {
    width: 85%;
    height: inherit;
    padding-bottom: 40px;
  }
  @media (min-width: 1750px) {
    width: 50%;
  }
  &.full {
    @extend main;
    height: calc(100vh - 40px);
  }
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: darken(white, 1%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px $light-gray solid;
  padding: 20px 70px;
  font-size: 0.75em;
  @media (max-width: $br-small) {
    flex-direction: column;
    text-align: center;
  }
  a {
    @extend .nav-link
  }
}

.social {
  a {
    padding: 0 5px;
    @media (max-width: $br-small) {
      font-size: 1.8em;
    }
    font-size: 1.4em;
  }
}

nav {
  >a:last-child {
    padding-right: 0;
  }
  ul {
    li {
      font-size: 0.9em;
      display: inline-block;
      &:last-child a {
        padding-right: 0;
      }
      a {
        @extend .nav-link;
        padding: 10px 31px;
      }
    }
  }
}

.mobile-nav {
  background-color: rgba(0, 0, 0, .9);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  font-size: 1.3em;
  transition: all 0.5s ease;
  ul {
    li:first-child {
      padding-top: 60px;
    }
  }
  &__wrapper {
    position: relative;
    width: 70%;
    @media (max-width: $br-small) {
      width: 85%;
    }
    margin: 0 auto;
  }
  &__item {
    padding: 15px 0;
    a {
      display: block;
      position: relative;
      color: $white;
      font-size: 1.3em;
      @media (max-height: 654px) {
        font-size: 1em;
      }
      @extend .nav-link;
    }
  }
}

.hero {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: left;
  text-align: left;
  @media (max-width: $br-small) {
    margin: 20px auto;
  }
  &--flat {
    @extend .hero;
    flex: 1 100%;
    margin-top: 70px;
    p {
      margin-top: 20px;
      &:first-of-type {
        margin-top: 70px;
      }
    }
  }
  &--main {
    @extend .hero;
    max-width: 650px;
    align-items: center;
    text-align: center;
    @media (min-width: $br-large) {
      max-width: 660px;
    }
  }
}

.content {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.two-col {
  display: flex;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 50px -50vw;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  border: 1px darken(white, 6%) solid;
  background-color: darken(white, 1%);
}

.cta {
  max-width: 250px;
  padding: 35px 30px 30px;
  text-align: center;
  line-height: 1.19;
  border-radius: 10px;
  border: 1px $light-gray solid;
  background-color: white;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  &:hover {
    //border: 1px lighten($light-gray, 2%) solid;
    transform: translateY(-3px);
    box-shadow: 0 6px 35px rgba(50, 50, 93, .02), 0 5px 15px rgba(0, 0, 0, .01);
  }
  p {
    font-size: 0.85em;
    margin: 5px 0;
  }
}

.cta--container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.19;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .btn--cta {
    margin-top: 30px;
  }
}

.btn--cta {
  margin-top: 10px;
  padding: 9px 33px;
  font-family: $font-stack;
  font-size: 0.75em;
  font-weight: bold;
  border-radius: 20px;
  color: darken(white, 3%);
  background-color: $logo-blue;
  border: none;
  box-shadow: 0 2px 3px rgba(128, 161, 253, 0.23);
  transition: box-shadow 0.5s ease, color 0.5s ease, background 0.5s ease, transform 0.2s ease;
  &:focus {
    outline: 0;
    background: darken($logo-blue, 3%);
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(128, 161, 253, 0.33);
  }
  &:hover {
    color: white;
    box-shadow: 0 3px 8px rgba(128, 161, 253, 0.43);
  }
  &:active {
    transform: translateY(1px);
  }
}

.leadership {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
}

.leadership--container {
  width: 270px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .social {
    font-size: 0.7em;
    i {
      color: lighten($gray, 5%);
    }
  }
}

.leadership--card {
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
  border: 1px $light-gray solid;
  border-radius: 5px;
}

#contact-form {
  padding: 2px 50px 20px;
  line-height: 1.19;
  border-radius: 10px;
  border: 1px $light-gray solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: border 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
  &:hover {
    border: 1px darken($light-gray, 4%) solid;
    box-shadow: 0 6px 35px rgba(50, 50, 93, .02), 0 5px 15px rgba(0, 0, 0, .01);
    transform: translateY(-1px);
  }
  p {
    font-size: 0.9em;
    padding: 21px 0;
  }
  @media (min-width: $br-large) {
    padding: 12px 50px 20px;
  }
}

.error,
.success {
  width: 372px;
  height: 152px;
  margin-bottom: 303px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  border-radius: 10px;
  border: 1px $light-gray solid;
  padding: 40px;
  @media (min-width: $br-large) {
    margin-bottom: 543px;
  }
}

.field {
  label {
    margin: 0 100% 5px 0;
    font-size: 0.7em;
    color: $gray;
  }
  width: 300px;
  margin: 10px 0;
  @media (max-width: $br-small) {
    width: 200px;
  }
  @media (min-width: $br-large) {
    width: 390px;
  }
}

input,
textarea {
  margin-top: 4px;
  color: $gray;
  display: block;
  width: calc(100% - 20px);
  border-radius: 5px;
  border: 1px $light-gray solid;
  background-color: #fbfbfb;
  padding: 10px;
  outline: none;
  transition: border 0.5s ease;
  &:focus {
    border: 1px darken($light-gray, 8%) solid;
  }
  @media (min-width: $br-large) {
    width: calc(100% - 32px);
    padding: 16px;
    font-size: 0.5em;
  }
}

textarea {
  max-width: 280px;
  @media (min-width: $br-large) {
    height: 185px;
    max-width: 358px;
  }
}

.svg--main {
  fill: $logo-blue;
  width: 40px;
  height: 40px;
  transition: fill 0.5s ease;
  &__mobile {
    width: 40px;
    height: 40px;
    fill: lighten($white, 40%);
  }
  &__link {
    box-shadow: none;
  }
  &__display {
    @extend .svg--main;
    fill: lighten($logo-blue, 8%);
    width: 70px;
    height: 70px;
  }
  &:hover {
    fill: lighten($logo-blue, 8%);
  }
}

.svg--design {
  @extend .svg--main;
  fill: $logo-yellow;
  &__display {
    @extend .svg--design;
    fill: lighten($logo-yellow, 8%);
    width: 70px;
    height: 70px;
  }
  &:hover {
    fill: lighten($logo-yellow, 8%);
  }
}

.svg--develop {
  @extend .svg--main;
  fill: $logo-red;
  &__display {
    @extend .svg--develop;
    fill: lighten($logo-red, 8%);
    width: 70px;
    height: 70px;
  }
  &:hover {
    fill: lighten($logo-red, 8%);
  }
}

.hamburger {
  font-size: 1.3em;
  @extend .nav-link;
  @media (min-width: $br-medium) {
    display: none;
  }
  &__close {
    color: $white;
    @extend .nav-link;
    position: absolute;
    right: 2px;
    top: 4px;
  }
}

.spacer {
  width: 60px;
  margin: 15px 0;
  border-bottom: 3px $light-gray solid;
}

.drawing {
  margin-top: 70px;
  flex: 1 100%;
  display: flex;
  flex-flow: row-reverse;
  align-self: center;
  height: 100%;
  @media (max-width: 1200px) {
    display: none;
  }
}

.boxes {
  width: 388px;
  .box:nth-child(3) {
    height: 180px;
  }
  .box:nth-child(2) {
    height: 364px;
    margin: -219px 0 -123px 206px;
  }
}

.box {
  width: 180px;
  height: 295px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px $light-gray solid;
  border-radius: 8px;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &:hover {
    transform: scale(1.06);
  }
}

.shapes {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  @media (max-width: $br-small) {
    //TODO: Figure this out
    display: none;
    height: 696px;
  }
}

.blue-circle {
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: -230px;
  left: -180px;
  border: 140px $logo-blue solid;
  border-radius: 100%;
  opacity: 0.14;
  z-index: -1;
  @media (max-width: $br-small) {
    bottom: -300px;
    left: -230px; //TODO: Figure this out
    display: none;
  }
  @media (min-width: $br-large) {
    width: 580px;
    height: 580px;
    left: -280px;
  }
}

.red-square {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -267px;
  top: 140px;
  border: 140px $logo-red solid;
  border-radius: 200px;
  transform: rotate(45deg);
  opacity: 0.14;
  z-index: -1;
  @media (max-width: $br-small) {
    display: none;
  }
  @media (min-width: $br-large) {
    width: 400px;
    height: 400px;
    right: -350px;
  }
}

.yellow-triangle {
  width: 390px;
  height: 390px;
  position: absolute;
  right: -60px;
  bottom: -515px;
  border: 140px $logo-yellow solid;
  border-radius: 170px;
  transform: rotate(36deg) skewY(18deg);
  opacity: 0.14;
  z-index: -1;
  @media (max-width: $br-small) {
    display: none;
  }
  @media (min-width: $br-large) {
    width: 580px;
    height: 580px;
    bottom: -700px;
  }
}

::selection {
  background: $logo-yellow;
}

::-moz-selection {
  background: $logo-yellow;
}

.fade-in {
  opacity: 0;
}

@media (max-width: $br-medium) {
  .hide-mobile {
    display: none;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
