@import './reset.css';
@font-face {
  font-family: 'Bariol';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/bariol_bold-webfont.woff2'), url('../fonts/bariol_bold-webfont.woff');
}
@font-face {
  font-family: 'Bariol';
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/bariol_bold_italic-webfont.woff2') format('woff2'), url('../fonts/bariol_bold_italic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Bariol';
  font-weight: 100;
  font-style: normal;
  src: url('../fonts/bariol_light-webfont.woff2') format('woff2'), url('../fonts/bariol_light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Bariol';
  font-weight: 100;
  font-style: italic;
  src: url('../fonts/bariol_light_italic-webfont.woff2') format('woff2'), url('../fonts/bariol_light_italic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Bariol';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/bariol_regular-webfont.woff2') format('woff2'), url('../fonts/bariol_regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Bariol';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/bariol_regular_italic-webfont.woff2') format('woff2'), url('../fonts/bariol_regular_italic-webfont.woff') format('woff');
}
$font-stack: 'Bariol', Helvetica, sans-serif;
$black: #4D4D4D;
$gray: #939393;
$light-gray: #EFEFEF;
$white: #AAAAAA;
$logo-blue: #8FACFD;
$logo-yellow: #FFF097;
$logo-red: #FF8B8B;
$br-small: 640px;
$br-medium: 900px;
$br-large: 1500px;

body {
  font: 16px/1.6 $font-stack;
  @media (min-width: $br-small) {
    font-size: 1.25rem;
  }
  @media (min-width: $br-large) {
    font-size: 1.5em;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $black;
}

h1 {
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1.02;
  @media (min-width: $br-small) {
    font-size: 2.5 em;
  }
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
}

h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
}

h5 {
  font-weight: lighter;
  font-style: italic;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: $logo-blue;
  box-shadow: inset 0 -9px 0 0 lighten($logo-blue, 18%);
  transition: color 0.5s ease, box-shadow 0.3s ease;

  &:hover {
    color: lighten($logo-blue, 8%);
    box-shadow: inset 0 0 0 0 lighten($logo-blue, 30%);
  }

  &:active {
    color: darken($logo-blue, 10%);
  }
}

.nav-link {
  color: $black;
  box-shadow: none;
  font-weight: bold;
  text-transform: lowercase;

  &:hover {
    color: lighten($black, 14%);
    box-shadow: none;
  }
}

p {
  color: $gray;
}

main {
  width: 70%;
  height: calc(100vh - 40px);
  margin: 0 auto;
  padding-top: 40px;
  @media (max-width: $br-small) {
    width: 85%;
    height: inherit;
    padding-bottom: 40px;
  }
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: darken(white, 1%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px $light-gray solid;
  padding: 20px 70px;
  font-size: 0.75em;
  @media (max-width: $br-small) {
    flex-direction: column;
    text-align: center;
  }

  a {
    @extend .nav-link
  }
}

.social {
  margin-bottom: 20px;

  a {
    padding: 0 5px;
    @media (max-width: $br-small) {
      font-size: 1.5em;
    }
    font-size: 1.4em;
  }
}

nav {
  > a:last-child {
    padding-right: 0;
  }

  ul {
    li {
      font-size: 0.9em;
      display: inline-block;

      &:last-child a {
        padding-right: 0;
      }

      a {
        @extend .nav-link;
        padding: 10px 31px;
      }
    }
  }
}

.mobile-nav {
  background-color: rgba(0,0,0,.9);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  font-size: 1.3em;
  transition: all 0.5s ease;

  ul {
    li:first-child {
      padding-top: 60px;
    }
  }

  &__wrapper {
    position: relative;
    width: 70%;
    @media (max-width: $br-small) {
      width: 85%;
    }
    margin: 0 auto;
  }

  &__item {
    padding: 15px 0;

    a {
      display: block;
      position: relative;
      color: $white;
      font-size: 1.3em;
      @media (max-height: 654px) {
        font-size: 1em;
      }
      @extend .nav-link;
    }
  }
}

.hero {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (max-width: $br-small) {
    margin: 90px auto;
  }
}

.content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cta {
  max-width: 250px;
  padding: 35px 30px 30px;
  text-align: center;
  line-height: 1.19;
  border-radius: 10px;
  border: 1px $light-gray solid;
  background-color: white;
  transition: box-shadow 0.5s ease, transform 0.5s ease;

  &:hover {
    //border: 1px lighten($light-gray, 2%) solid;
    transform: translateY(-3px);
    box-shadow: 0 6px 35px rgba(50,50,93,.02), 0 5px 15px rgba(0,0,0,.01);
  }

  p {
    font-size: 0.85em;
    margin: 5px 0;
  }
}

.btn--cta {
  margin-top: 10px;
  padding: 9px 33px;
  font-family: $font-stack;
  font-size: 0.75em;
  font-weight: bold;
  border-radius: 20px;
  color: darken(white, 3%);
  background-color: $logo-blue;
  border: none;
  box-shadow: 0 2px 3px rgba(128, 161, 253, 0.23);
  transition: box-shadow 0.5s ease, color 0.5s ease, background 0.5s ease, transform 0.2s ease;

  &:focus {
    outline: 0;
    background: darken($logo-blue, 3%);
    transform: translateY(1px);
    box-shadow: 0 3px 8px rgba(128, 161, 253, 0.33);
  }

  &:hover {
    color: white;
    box-shadow: 0 3px 8px rgba(128, 161, 253, 0.43);
  }

  &:active {
    transform: translateY(1px);
  }
}

.svg--main {
  fill: $logo-blue;
  width: 40px;
  height: 40px;
  transition: fill 0.5s ease;

  &__mobile {
    width: 40px;
    height: 40px;
    fill: lighten($white, 40%);
  }

  &:hover {
    fill: lighten($logo-blue, 8%);
  }
}

.hamburger {
  font-size: 1.3em;
  @extend .nav-link;
  @media (min-width: $br-medium) {
    display: none;
  }

  &__close {
    color: $white;
    @extend .nav-link;
    position: absolute;
    right: 2px;
    top: 4px;
  }
}

.spacer {
  width: 60px;
  margin: 15px 0;
  border-bottom: 3px $light-gray solid;
}

.shapes {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  @media (max-width: $br-small) {
    //TODO: Figure this out
    display: none;
    height: 696px;
  }
}

.blue-circle {
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: -230px;
  left: -180px;
  border: 140px $logo-blue solid;
  border-radius: 100%;
  opacity: 0.14;
  z-index: -1;
  @media (max-width: $br-small) {
    bottom: -300px;
    left: -230px;
    //TODO: Figure this out
    display: none;
  }
  @media (min-width: $br-large) {
    width: 580px;
    height: 580px;
    left: -280px;
  }
}

.red-square {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -267px;
  top: 140px;
  border: 140px $logo-red solid;
  border-radius: 200px;
  transform: rotate(45deg);
  opacity: 0.14;
  z-index: -1;
  @media (max-width: $br-small) {
    display: none;
  }
  @media (min-width: $br-large) {
    width: 400px;
    height: 400px;
    right: -350px;
  }
}

.yellow-triangle {
  width: 390px;
  height: 390px;
  position: absolute;
  right: -60px;
  bottom: -515px;
  border: 140px $logo-yellow solid;
  border-radius: 170px;
  transform: rotate(36deg) skewY(18deg);
  opacity: 0.14;
  z-index: -1;
  @media (max-width: $br-small) {
    display: none;
  }
  @media (min-width: $br-large) {
    width: 580px;
    height: 580px;
    bottom: -700px;
  }
}

::selection {
  background: $logo-yellow;
}

::-moz-selection {
  background: $logo-yellow;
}

.fade-in {
  opacity: 0;
}
@media (max-width: $br-medium) {
  .hide-mobile {
    display: none;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
