<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=x-ua-compatible content="ie=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="author" content="Greg Wolff">
  <meta name="description" content="We’re a group of UC Santa Cruz students passionate about human-centered design and progressive programming practices">
  <link rel="icon" type="image/png" sizes="32x32" href="src/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="src/images/favicon-16x16.png">
  <meta name="theme-color" content="#8FACFD">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <main>
    <header><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1165 1165" class="svg--main"><path d="M898.25.34H266.77C119.67.34,0,120,0,267.12V898.59c0,147.09,119.67,266.77,266.77,266.77H898.25c147.1,0,266.78-119.67,266.78-266.77V267.12C1165,120,1045.35.34,898.25.34Zm-315.74,836C442.73,836.36,329,722.64,329,582.85S442.73,329.35,582.51,329.35,836,443.07,836,582.85,722.3,836.36,582.51,836.36Z"/></svg>
      <nav>
        <ul class="hide-mobile">
          <li><a href="#">About</a></li>
          <li><a href="#">Process</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <a href="#" class="hamburger">Menu</a>
      </nav>
      <div class="mobile-nav hidden">
        <div class="mobile-nav__wrapper">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1165 1165" class="svg--main__mobile"><path d="M898.25.34H266.77C119.67.34,0,120,0,267.12V898.59c0,147.09,119.67,266.77,266.77,266.77H898.25c147.1,0,266.78-119.67,266.78-266.77V267.12C1165,120,1045.35.34,898.25.34Zm-315.74,836C442.73,836.36,329,722.64,329,582.85S442.73,329.35,582.51,329.35,836,443.07,836,582.85,722.3,836.36,582.51,836.36Z"/></svg>
          <a href="#" class="hamburger__close">Close</a>
          <ul>
            <li class="mobile-nav__item"><a href="#">About</a></li>
            <li class="mobile-nav__item"><a href="#">Process</a></li>
            <li class="mobile-nav__item"><a href="#">Projects</a></li>
            <li class="mobile-nav__item"><a href="#">Resources</a></li>
            <li class="mobile-nav__item"><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </header>
    <nav></nav>
    <section class="hero">
      <h1 class="fade-in">Welcome to<br>The Web and Mobile Club</h1>
      <div class="fade-in spacer"></div>
      <p class="fade-in">We’re a group of students passionate about human-centered design and progressive programming practices, learn more about us <a href="#">about us</a></p>
    </section>
    <section class="fade-in cta">
      <h4>Student at UC Santa Cruz?</h4>
      <p>Learn more about how to get involved and hop in!</p>
      <button class="btn--cta">Join Us</button>
    </section>
    <section class="shapes">
      <div class="blue-circle"></div>
      <div class="red-square"></div>
      <div class="yellow-triangle"></div>
    </section>
  </main>

  <footer>© <span class="year"></span> Web and Mobile Club. All rights reserved.</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
</body>

</html>

</html>
